<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a href="/"><img src="~/img/logo.png" asp-append-version="true" alt="GhodPool" class="logo"></a>
                <span class="site-name">GhodPool</span>
            </div>
            <div class="nav-right">
                <a href="/Trip/CreateTrip" class="post-trip">+ Опублікувати поїздку</a>
                <a href="/Account/Register">Зареєструватися</a>
                <a href="/Account/Login">Увійти</a>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="footer">
        <p>© 2025 GhodPool. Усі права захищені.</p>
    </footer>
</body>
</html>
