@model OOP_Project_Kovba.ViewModels.CreateTripViewModel
@{
    Layout = "_Layout_Authorised";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Створення маршруту</title>
    <link rel="stylesheet" href="~/css/post.css">
</head>
<body>
    <div class="content">
        <!-- Левая часть: Форма создания маршрута -->
        <div class="container">
            <h2>Створення маршруту</h2>
            <form asp-controller = "Trip" asp-action="CreateTrip" method="post">
                <div class="form-group">
                    <label for="from">Звідки</label>
                    <input type="text" id="from" name="From" required>
                </div>

                <div class="form-group">
                    <label for="to">Куди</label>
                    <input type="text" id="to" name="To" required>
                </div>

                <div class="form-group">
                    <label for="date">Дата</label>
                    <input type="date" id="date" name="Date" required>
                </div>

                <div class="form-group">
                    <label for="departure-time">Час виїзду</label>
                    <input type="time" id="departure-time" name="DepartureTime" required>
                </div>

                <div class="form-group">
                    <label for="arrival-time">Час прибуття</label>
                    <input type="time" id="arrival-time" name="ArrivalTime" required>
                </div>
                <select name="passengers" class="form-group" >
                    <option value="1">1 пасажир</option>
                    <option value="2">2 пасажири</option>
                    <option value="3">3 пасажири</option>
                    <option value="4">4 пасажири</option>
                </select>
                
                <div class="form-group">
                    <label for="seats">Модель авто</label>
                    <input type="text" id="auto" name="Auto" required>
                </div>
                

                <div class="form-group">
                    <label for="price">Ціна (грн)</label>
                    <input type="number" id="price" name="Price" min="0" required>
                </div>

                <div class="form-group">
                    <label for="price">Коментар (необов'язково)</label>
                    <input type="text" id="comentar" name="Comentar" >
                </div>

                <button type="submit">Додати маршрут</button>
            </form>
        </div>

        <!-- Правая часть: Блок с информацией -->
        <div class="info-box">
            <h3>Станьте водієм GhodPool - Беріть попутників та економте на бензині.</h3>
            <img src="~/img/driver.jpg" alt="Станьте водієм" class="info-img">
        </div>
    </div>
</body>
</html>
