@model OOP_Project_Kovba.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Реєстрація";
}
<head>
    <link rel="stylesheet" href="~/css/reg.css" />
</head>
<div class="container">
    <h2 class="center-align">Реєстрація</h2>

    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-controller="Account" asp-action="Register" method="post">

        <!-- Email -->
        <div class="form-group">
            <label asp-for="FullName">ПІБ</label>
            <input asp-for="FullName" class="form-control" required />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <!-- Email -->
        <div class="form-group">
            <label asp-for="Email">Електронна пошта</label>
            <input asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" class="form-control" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <!-- Confirm Password -->
        <div class="form-group">
            <label asp-for="ConfirmPassword">Підтвердження пароля</label>
            <input asp-for="ConfirmPassword" class="form-control" required />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

      
        <!-- Submit Button -->
        <button type="submit" class="btn">Зареєструватися</button>
    </form>

    <p class="center-align">
        Уже є акаунт? <a href="/Home/Login">Увійти</a>
    </p>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>


