<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Знайдені поїздки</title>
    <link rel="stylesheet" href="~/css/result.css">
</head>
<body>
    <div class="main-container">
        <div class="results-container">
            <h2>Знайдені поїздки</h2>
            <div class="trip-card" onclick="window.location.href='/Home/TripDetails'">
                <div class="trip-info">
                    <p><strong>Київ → Львів</strong></p>
                    <p>📅 Дата: 25 лютого 2025</p>
                    <p>🧑‍✈️ Водій: Іван Петров ⭐ 5.0</p>
                    <p>⏰ Час виїзду: 08:00</p>
                    <p>⏳ Час прибуття: 14:00</p>
                    <p>💺 Місць залишилось: 3</p>
                    <p>🚘 Авто: Toyota Camry (чорний)</p>
                </div>
                <div class="trip-price">400 грн</div>
            </div>
            <div class="trip-card" onclick="window.location.href='/trip-details/1'">
                <div class="trip-info">
                    <p><strong>Київ → Львів</strong></p>
                    <p>📅 Дата: 25 лютого 2025</p>
                    <p>🧑‍✈️ Водій: Володимир Лимар ⭐ 4.6</p>
                    <p>⏰ Час виїзду: 09:00</p>
                    <p>⏳ Час прибуття: 14:35</p>
                    <p>💺 Місць залишилось: 2</p>
                    <p>🚘 Авто: Tesla Model 3 (білий)</p>
                </div>
                <div class="trip-price">550 грн</div>
            </div>
        </div>
    </div>

</body>

</html>
